<h3 class = "show">ジャンル一覧・追加</h3>
<%= form_with model: @genre,url: genres_path, local: true do |f| %>
<table class = "genre-box">
<tbody>
<tr>
<th>
業種名
</th>
<td>
<%= f.text_field :name %>
</td>
<td>
 <input class="btn btn-success" type="submit" value="追加">
<% end %>
</td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="container">
<div class="row">
<div class ="col-m-4"></div>
<table class = "genre-table" width="50%">
<tbody>
<tr>
<th>
業種名
</th>
</tr>

<% @genres.each do |genre| %>
<tr>
<td>
<%= genre.name %>
</td>
<td>
<%= link_to edit_genre_path(genre.id) do %>
<button type="button" class="btn btn-success" style="width:150px">編集</button>
<% end %>
</td>
<td>
<%= link_to genre_path(genre.id), method: :delete do %>
<button type="button" class="btn btn-danger" style="width:150px">削除する</button>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>