<h3>マイページ</h3>
<table border = "1">
<tbody>
<tr>
<td><% if @user.image.attached? %>
<%= image_tag @user.image, size: "200x200" %>
<% else %>
<%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>
</td>
</tr>

<tr>
<td>ユーザー名</td>
<td><%= @user.name %></td>
</tr>
<tr>
<td>自己紹介</td>
<td><%= @user.introduction %></td>
</tr>
</tbody>
</table>
<%= link_to '投稿する', new_experience_path %>
</br>
<%= link_to '編集', edit_user_path(@user.id) %>
<%= link_to '退会', users_unsubscribe_path %>
</br>
<% if current_user.admin? %>
<% current_user.admin == true %>
<%= link_to "ジャンル追加・一覧", genres_path %>
<% else %>
<% end %>

<table border = "1">
<tbody>

<tr>
<th>
投稿一覧
</th>
</tr>

<% @experiences.each do |experience| %>
<tr>
<th>
<%= link_to experience_path(experience.id) do %>
<%= experience.title %>
<% end %>
</th>
<td>☆ <%= experience.favorites.count %></td>
<td>コメント(<%= experience.comments.count %>)</td>
<td><%= link_to '＋' ,edit_experience_path(experience.id) %></td>
<td><%= link_to '×', experience_path(experience.id), method: :delete, "date-confirm" => "本当に削除しますか？" %></td>
</tr>
<% end %>
</tbody>
</table>

<table border = "1", width = "600">
<tbody>
<tr>
<th>
お気に入り
</th>
</tr>

<% @favorites.each do |favorite|%>
<tr>
<th>
<%= link_to experience_path(favorite.experience) do %>
<%= favorite.experience.title %>
<% end %>
</th>
</tr>
<% end %>
</tbody>
</table>



