<h3 class = "user-show"><%= @user.name %>のページ</h3>
<table class = "user-table">
<tbody>
<tr>
<th>プロフィール画像</th>
<td><% if @user.image.attached? %>
<%= image_tag @user.image, size: "200x200" %>
<% else %>
<%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>
</td>
</tr>
<tr>
<th>ユーザー名</th>
<td><%= @user.name %></td>
</tr>
<tr>
<th>自己紹介</th>
<td><%= @user.introduction %></td>
</tr>
<tr>
<th>ユーザー設定</th>
<td>
<% if @user.admin? %>
<% @user.admin == true %>
管理者
<% else %>
一般ユーザー
<% end %>

<% if @user == current_user %>
<%= link_to '編集する', edit_user_path(@user.id) %>
<% else %>
<% end %>
</td>
</tr>
</tbody>
</table>

<% if @user == current_user %>
<div class = "user-button">
<%= link_to users_unsubscribe_path do %>
<button type="button" class="btn btn-danger" style="width:600px">退会する</button>
<% end %>
</div>
<% else %>
<% end %>

<div class = "user-button">
<% if @user.admin? %>
<% @user.admin == true %>
<%= link_to genres_path do %>
<button type="button" class="btn btn-primary" style="width:600px">ジャンル追加・一覧</button>
<% end %>
<% else %>
<% end %>
</div>

<h3 class = "user-show">投稿一覧</h3>
<table class ="list-table">
<thead>
<tr>
<th>タイトル</th>
<th>投稿設定</th>
</tr>
</thead>

<tbody>


<% @experiences.each do |experience| %>
<tr>
<th>
<%= link_to experience_path(experience.id) do %>
<%= experience.title %>
<% end %></br>
☆<%= experience.favorites.count %>
　　　　コメント(<%= experience.comments.count %>)
</th>
<td class = "user-td">
<%= link_to '＋' ,edit_experience_path(experience.id) %>
<%= link_to '×', experience_path(experience.id), method: :delete, "date-confirm" => "本当に削除しますか？" %>
</td>
</tr>
<% end %>
</tbody>
</table>
<h3 class = "user-show">お気に入り</h3>
<table class = "list-table">
<thead>
<tr>
<th>
タイトル
</th>
<th>
ユーザー名
</th>
</tr>
</head>
<tbody>
<% @favorites.each do |favorite|%>
<tr>
<th>
<%= link_to experience_path(favorite.experience) do %>
<%= favorite.experience.title %>
</th>
<% end %>
<td>
<%= link_to user_path(favorite.experience.user.id) do %>
<%= favorite.experience.user.name %>
<% end %>
</td>
</tr>
<% end %>
</tbody>
</table>
<% if @user == current_user %>
<div class = "user-button">
<%= link_to new_experience_path do %>
<button type="button" class="btn btn-primary" style="width:600px">投稿する</button>
<% end %>
</div>
<% else %>
<% end %>



