<h3><%= @user.name %>のページ</h3>
<% if @user.image.attached? %>
<%= image_tag @user.image, size: "100x100" %>
<% else %>
<%= image_tag 'no_image.jpg', size: "100x100" %>
<% end %>

<h3>投稿一覧</h3>
<% @experiences.each do |experience| %>
<%= link_to experience_path(experience.id) do %>
<%= experience.title %>
<% end %>
<%= link_to '＋' ,edit_experience_path(experience.id) %>
<%= link_to '×', experience_path(experience.id), method: :delete, "date-confirm" => "本当に削除しますか？" %>
<% end %>
<%= link_to '投稿する', new_experience_path %>

<%= link_to '編集', edit_user_path(@user.id) %>
<%= link_to '退会', users_unsubscribe_path %>

<li>お気に入り</li>
<% @favorites.each |favorite| do %>
<%= link_to experience_path(favorite.experience) do %>
<%= favorite.experience.title %>
<% end %>
<% end %>