<table class = "experience-table">
<% experiences.each do |experience| %>
<tbody>
<tr>
<th><%= link_to experience_path(experience.id) do %>
<%= experience.title %>
<% end %>
</th>
<td><i class="fa-regular fa-star"></i><%= experience.favorites.count %></td>
<td><i class="fa-solid fa-message"></i>(<%= experience.comments.count %>)</td>
</tr>
<tr>
<td>
ユーザー名：
<%= link_to user_path(experience.user.id) do %>
<%= experience.user.name %>
<% end %>
</td>
</tr>
<tr>
<td>企業名：<%= experience.name %></td>
<td>業種：<%= experience.genre.name %></td>
</tr>
<tr>
<td>投稿日時：<%= experience.created_at.strftime('%Y/%m/%d') %></td>
</tr>
<tr>
<% if user_signed_in? %>
<% if current_user.admin? %>
<% current_user.admin == true %>
<td><%= link_to experience_path(experience.id), method: :delete do %>
投稿削除
<% end %>
</td>
<% else %>
<% end %>
<% end %>
</tr>
</tbody>
<% end %>
</table>

<%= will_paginate experiences %>