<table class = "experience-table">
<% experiences.each do |experience| %>
<tbody>
<tr>
<th><%= link_to experience_path(experience.id) do %>
<%= experience.title %>
<% end %>
</th>
<td>☆ <%= experience.favorites.count %></td>
<td>コメント(<%= experience.comments.count %>)</td>
</tr>
<tr>
<td><%= experience.name %></td>
<td><%= experience.genre.name %></td>
</tr>
<tr>
<% if user_signed_in? %>
<% if current_user.admin? %>
<% current_user.admin == true %>
<td><%= link_to experience_path(experience.id), method: :delete do %>
投稿削除
<% end %>
</td>
<% else %>
<% end %>
<% end %>
</tr>
</tbody>
<% end %>
</table>