<div class="container">
<div class="row">
<div class = "col-lg-2 col-md-0"></div>
<div class = "col-lg-6 col-md-12">
<h3 class = "experience-list">みんなの投稿</h3>
<%= render 'sort'%>

<%= render 'sort_result', experiences: @experiences %>
</div>

<div class = "col-lg-4 col-md-12">
<div class = "company-search">
<p>企業名検索</p>
</div>
<div class = "search-form">
<%= form_with url: experiences_path, method: :get, local: true do |f| %>
<%= f.text_field :keyword, value: @keyword %>
<%= f.submit "検索" %>
<% end %>
</div>
</br>
<div class = "company-search">
<p>業種検索</p>
</div>

<%= form_with url: experiences_path , method: :get, local: true do |f| %>
<div class = "genre-search">
<ul>
<%= f.collection_check_boxes :genres, Genre.all, :id, :name do |b| %>
<li>
<%= b.check_box %>
<%= b.label %>
</li>
<% end %>
</ul>
<%= f.submit '検索' %>
</div>
<% end %>
</div>

</div>
</div>