<%= form_with url: company_search_path, method: :get, local: true do |f| %>
<%= f.text_field :keyword, value: @keyword %>
<%= f.submit "検索" %>
<% end %>

<%= form_with url: genre_search_path , method: :get, local: true do |f| %>
<%= f.collection_check_boxes :genres, Genre.all, :id, :name %>
<%= f.submit '検索' %>
<% end %>

<p>ユーザー情報</p>
<%= render 'user_information' %>

<h3>投稿一覧</h3>
<%= render 'sort'%>

<%= render 'sort_result', experiences: @experiences %>
