<%= form_with url: company_search_path, method: :get, local: true do |f| %>
<%= f.text_field :keyword, value: @keyword %>
<%= f.submit "検索" %>
<% end %>

<p>ユーザー情報</p>
<%= render 'user_information' %>

<h3>投稿一覧</h3>
<%= render 'sort', experience: @experience %>

<%= render 'sort_result', experiences: @experiences %>
