<div class="container">
<div class="row">
<div class = "col-8">
<h3>投稿詳細</h3>
</div>
<div class = "col-4">
<% if @experience.favorited_by?(current_user) %>
<p>
<%= link_to experience_favorites_path(@experience), method: :delete do %>
★ お気に入りを解除
<% end %>
</p>
<% else %>
<p>
<%= link_to experience_favorites_path(@experience), method: :post do %>
☆ お気に入り登録
<% end %>
</p>
<% end %>
</div>
</div>
</div>
<div class = "experience-box2">
タイトル</br>
<%= @experience.title %></br>
</br>
企業名</br>
<%= @experience.name %></br>
</br>
業種</br>
<%= @experience.genre.name %></br>
</br>
選考状況</br>
<%= @experience.situation %></br>
</br>
時間</br>
<%= @experience.time %></br>
</br>
形式</br>
<%= @experience.format %></br>
</br>
<p>雰囲気</p>
<%= @experience.atomosphere %>
</br>
<p>質問</p>
<%= @experience.question %>
</br>
<p>感想</p>
<%= @experience.impression %>
</div>

<% if @comment.errors.any? %>
  <%= @comment.errors.count %>件のエラーが発生しました
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class = "comment-box">
<p>コメント<%= @experience.comments.count %>件</p>
<% @experience.comments.each do |comment| %>
<%= comment.user.name %>
<%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.experience_comment %>
<% if comment.user == current_user %>
<%= link_to "削除", experience_comment_path(comment.experience, comment), method: :delete %>
<% end %>
<% if current_user.admin? %>
<%= link_to "削除", experience_comment_path(comment.experience, comment), method: :delete %>
<% end %>
<% end %>

<%= form_with model: [@experience, @comment] do |f| %>
<%= f.text_area :experience_comment, size: "50x3", placeholder: "コメントをここに" %></br>
<div class = "post-botton">
<input class="btn btn-primary" type="submit" style="width:220px" value="コメントを送信する">
</div>
<% end %>
</div>
