<p>ユーザー情報</p>
<% if current_user.image.attached? %>
<%= image_tag current_user.image, size: "100x100" %>
<% else %>
<%= image_tag 'no_image.jpg', size: "100x100" %>
<% end %>
<%= current_user.name %>
<%= link_to 'マイページ', user_path(current_user.id) %>
<%= link_to '投稿する', new_experience_path %>
<h3>投稿詳細</h3>
<p>タイトル</p>
<%= @experience.title %>
<p>企業名</p>
<%= @experience.name %>
<p>業種</p>
<%= @experience.genre.name %>
<p>選考状況</p>
<%= @experience.situation %>
<p>時間</p>
<%= @experience.time %>
<p>形式</p>
<%= @experience.format %>
<p>雰囲気</p>
<%= @experience.atomosphere %>
<p>質問</p>
<%= @experience.question %>
<p>感想</p>
<%= @experience.impression %>

<% if @experience.favorited_by?(current_user) %>
<p>
<%= link_to experience_favorites_path(@experience), method: :delete do %>
★ お気に入りを解除
<% end %>
</p>
<% else %>
<p>
<%= link_to experience_favorites_path(@experience), method: :post do %>
☆ お気に入り登録
<% end %>
</p>
<% end %>
<% if @comment.errors.any? %>
  <%= @comment.errors.count %>件のエラーが発生しました
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<p>コメント<%= @experience.comments.count %>件</p>
<% @experience.comments.each do |comment| %>
<%= comment.user.name %>
<%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.experience_comment %>
<% if comment.user == current_user %>
<%= link_to "削除", experience_comment_path(comment.experience, comment), method: :delete %>
<% end %>
<% if current_user.admin? %>
<%= link_to "削除", experience_comment_path(comment.experience, comment), method: :delete %>
<% end %>
<% end %>

<%= form_with model: [@experience, @comment] do |f| %>
<%= f.text_area :experience_comment, rows: '5', placeholder: "コメントをここに" %>
<%= f.submit "送信する" %>
<% end %>