<!DOCTYPE html>
<html>
  <head>
    <title>Mensetsu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to root_path do %>
    <h3>Success! Job Hunting</h3>
    <% end %>

    <%= link_to experiences_path do %>
    <p>投稿一覧</p>
    <% end %>
   <% if user_signed_in? %>
    <%= link_to user_path(current_user.id) do %>
    <p>マイページ</p>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
    <p>ログアウト</p>
    <% end %>

   <% else %>
    <%= link_to new_user_registration_path do %>
    <p>新規登録</p>
    <% end %>

    <%= link_to new_user_session_path do %>
    <p>ログイン</p>
    <% end %>
  <% end %>

    <%= yield %>
  </body>
</html>
