<!DOCTYPE html>
<html>
  <head>
    <title>Mensetsu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="d-flex flex-column vh-100">
  <header class="shadow-sm bg-white">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">

    <%= link_to root_path do %>
    <h4>Success! Job Hunting</h4>
    <% end %>

    <%= link_to experiences_path do %>
    <p>投稿一覧</p>
    <% end %>
   <% if user_signed_in? %>

    <%= link_to user_path(current_user.id) do %>
    <p>マイページ</p>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
    <p>ログアウト</p>
    <% end %>

   <% else %>
    <%= link_to new_user_registration_path do %>
    <p>新規登録</p>
    <% end %>

    <%= link_to new_user_session_path do %>
    <p>ログイン</p>
    <% end %>
  <% end %>
 </div>
 </nav>
 </header>
    <%= yield %>
  </body>
 <footer class="bg-dark text-white pt-5 pb-4">
 <div class="container">
 <div class="row no-gutters">
 <div class="col-md-4">
 </div>
 </div>
 </div>
 </footer>
</html>
