<body id = "signup">

<%= form_with model: @user,url: user_registration_path do |f| %>
<%= render "users/shared/error_messages", resource: resource %>
<div class = "signup-box">
<p>会員登録</p>

<div class="name-field">
<%= f.label '名前' %></br>
<%= f.label '（姓）'%>
<br class="pc_hide">
<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
<br class="pc_hide">
<%= f.label '（名）' %>
<br class="pc_hide">
<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
</div>


<div class="another-field">
<%= f.label 'メールアドレス' %></br>
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="another-field">
<%= f.label 'パスワード（6文字以上）' %></br>
<%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="another-field">
<%= f.label 'パスワード（確認用）' %></br>
<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="signup-button">
<input class="btn btn-success" type="submit" style="width:220px" value="新規登録">
</div>

</div>
<% end %>

</body>

